<div class="slat sidebar cv light-shadow">
  <h3>C.V. María Calzada</h3>
  <p>Descargá mi CV en formato PDF. Conocé mi trayectoria y conocimientos que avalan los productos que comercializamos.</p>
  <span class="icon"><%= image_tag('layout/cv_logo.png') %></span>
  <%= link_to 'Descargar PDF', nil, :class => 'more' %>
</div>