<% content_for(:title) do %>
  Biobar Cultural
<% end %>

<% content_for :slider do %>
  <div class="banner note">
    <%= image_tag asset_path('content/bar/header.jpg'), :class => 'background' %>
    <h2><span>Biobar Cultural</span></h2>
  </div>
<% end %>	

<div class="slat slat-shadow white">
  <div class="article l-twocolum">
    <div class="title">Biobar cultural</div>
    <div class="description">
      <p>
        Los invitamos a conocer nuestro BioBar cultural, donde podrán degustar y disfrutar todos los productos orgánicos en su máximo esplendor.
      </p>
      <p>
        Los esperamos con ricos sándwiches vegetarianos, veganos o con pollo; ensaladas frescas; pizzas; deliciosos platos calientes; una gran variedad de jugos power, con wheatgrass, maca o polen; y tentaciones dulces para después de comer o para la merienda. Todo elaborado por nosotros y en el momento, para conservar su frescura, sabor y vitalidad. 
      </p>
      <p>
        Podrán encontrar los famosos panes de El Rincón Orgánico, así como nuestra repostería, hecha con los ingredientes orgánicos de la mejor calidad. Elaboramos nuestras frutas deshidratadas, tomates secos, panes y todo lo que integra nuestros deliciosos platos. También los esperamos para desayunar y merendar con combos preparados para distintos gustos, nutritivos y potentes, ¡para arrancar el día con mucha energía!
      </p>
      <br><p></p>
      <h3>Un poco de historia</h3>
      <p>
        El Rincón Orgánico abrió su BioBar para compartir sabores genuinos y el placer de comer productos orgánicos. Gracias a su experiencia en eventos nacionales e internacionales, pudo aprender del mundo orgánico e inspirarse para crear un espacio único. La primera experiencia de BioBar fue en 1996, y desde entonces, fue evolucionando hasta llegar al espacio y a la propuesta actual. Ese año, El Rincón Orgánico inauguró su primer almacén a la calle para encontrarse con los consumidores y compartir su propuesta. 
      </p>
      <h3>Hoy</h3>
      <p>
        Compartimos esas vivencias, hoy, en nuestra mesa servida con productos frescos que traemos directamente del productor. Los ponemos a disposición de nuestros clientes en un ambiente colorido, alegre, luminoso y relajado, que transmite energía a quienes lo visitan.
      </p>
      <h3>¡Los esperamos!</h3>
      <p>
        Dirección: Bulnes 910, esq. Guardia Vieja, Almagro. Horario: De lunes a sábado, de 11.00 a 20.00. Teléfonos: 2062.9515 / 2062.2230.
      </p>
    </div>
  </div>
  <div class="article">
    <div class='title'>Almacén Orgánico</div>
    <div class="description"> 
      <p>
        Si quieren conocer nuestros productos, los invitamos a visitar nuestro almacén, en Bulnes 910, esquina Guardia Vieja, Capital Federal.
      </p>
      <p>
        En el almacén de El Rincón Orgánico, podrán elegir entre una amplia variedad de productos envasados y frescos de alta calidad orgánica, por ejemplo, verduras, frutas, pollos, lácteos, quesos, productos de soja, aceites, cereales, semillas, frutos secos, harinas, vinos, mieles, dulces y jugos. Nuestro BioBar también ofrece panificados y repostería caseros.
      </p>
      <p>
        El equipo de El Rincón Orgánico los ayudará a encontrar el producto que buscan. Además, les explicará los beneficios de cada alimento, que podrán disfrutar en los platos elaborados en nuestro BioBar.
      </p>
      <p>
        Después de muchos años de dedicación, establecimos una red de productores y procesadores provenientes de distintas partes de Latinoamérica. Trabajamos con productos ciento por ciento orgánicos de pequeños y grandes productores, y fomentamos y acompañamos el desarrollo de nuevos proyectos. Para nosotros, la transparencia en cada eslabón del proceso es un valor central, como la calidad y la justicia social.
      </p>
      <h3>Un poco de historia:</h3>
      <p>
        En 1996, El Rincón Orgánico abrió sus puertas a la calle, dado que desde 1989 solo brindaba el servicio de delivery a domicilio. La idea era tomar contacto directo con el consumidor y ofrecerle un espacio en el que pudiera preguntar y asesorase. En ese momento, El Rincón Orgánico vivió su primera experiencia de BioBar, con unas mesitas que invitaban a los visitantes a degustar y a conocer los productos, mientras compartían un ámbito de deleite y esparcimiento.
      </p>
      <h3>Hoy</h3>
      <p>
        Uniendo a productores de todos los rincones del país en una esquina de Almagro, El Rincón Orgánico expone un amplio abanico de productos orgánicos en la ciudad de Buenos Aires. Con un ambiente colorido y acogedor, el almacén ofrece únicamente productos ciento por ciento orgánicos.<br>
        ¡Los esperamos!<br>
        Dirección: Bulnes 910, esq. Guardia Vieja, Almagro. Horario: De lunes a sábado, de 11.00 a 20.00. Teléfonos: 2062.9515 / 2062.2230.
      </p>
    </div>
  </div>
</div>
<%= image_tag 'content/bar/schedule.png' %>

<% content_for :right_banner do %>
  <%= render 'bars/rightbanner' %>
<% end %>
