<% content_for(:title) do %>
  Pedido Recibido
<% end %>

<h3 class="l-title">Tu pedido</h3>
<p>
  Hemos recibido tu pedido correctamente! Nos estaremos comunicando a la brevedad para coordinar la entrega del mismo.
</p>
<br>
<p>
  Muchas gracias, <br>
  <b>El Rincón Orgánico</b>
</p>
