@import '../globals/_all.css.scss';

.formtastic{
  font-family: aracne_regularregular;
  li{
    list-style: none;
    clear:left;
    margin-bottom:2px;
  }
  input[type=submit]{
    padding:0;
    cursor:pointer;
    background:image-url('content/contacto/submit-flower.png') no-repeat;
    height: 30px;
    border: none;
    float: right;
    padding-left: 41px;
    font-size: 14px;
    font-family: inherit;
    color: $angry-red;
  }
  .inline-errors{
    color: $angry-red;
    font-size: 10px;
    font-family: "MyriadPro-Regular";
  }
  input[type=text], input[type=email],input[type=tel], textarea {
    background-color:$soft-yellow;
    margin:0;
    border:none;
    color:$dark-green;
  }
} //Base

.formtastic.order{
  display:block;
  width: 380px;
  label{
    font-size: 15px;
    width:31%;
    display:inline-block;
    vertical-align: top;
    line-height: 30px;
  }
  li {
    margin-bottom: 5px;
    input, textarea {
      display: inline-block;
      width: 66%%;
      padding: 5px;
    }
    textarea {
      font-family: Arial;
    }
    input[type=submit] {
      background: none;
      background-color: $dark-green;
      color: white;
      border-radius: 5px;
      padding: 30px 15px;
      float: right;
      width: auto;
      font-size: 30px;
      line-height: 7px;
    }
  }
  .inline-errors {
    font-size: 11px;
    margin-left: 31%;
    margin-top: 2px;
  }
}

.formtastic.message{
  width: 302px;
  float:left;
  // padding-right: 10px;
  border-right:dashed 1px #AAA;
  label{
    margin-left:10px;
    float:left;
    width: 65px;
    abbr{display:none;}
  }
  input[type=text],textarea {
    width:210px;
    min-height: 20px;
    margin-bottom:5px;
  }
  textarea{
    height:70px;
  }
  input[type=submit]{
    margin-right: 16px;
  }
}