<p>Hola <%= @resource.email %>!</p>

<p>Sigue el link a continuación para realizar el cambio de contraseña:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

